.container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  transition: width0.3s ease-in-out;
}

.sidenav .collapsed {
  width: 2px;
}

.menu-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 1px;
}
